

body {

    background-image: url("../images/thanos2.jpg");
    background-position: fixed;
}

.container {

border: 60px;
border-color: black;
margin-top:300px;

}


#stones {
    align-content: center;
    margin-left: 200px;
}

#instructions {

    text-align: center;
   
    border: 30px;
    opacity: 0.6;
}